body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: rgb(236, 219, 188);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  object-position: top;
}

h1 {
  display: inline-block;
  font-size: 5rem;
}

#context{
  display: flex;
}

.left-card{
  width: 600px;
  display: inline-block;
  margin-right: 70px;
}

img.tile-image{
  float: left;
  height: 400px;
}

.right-card{
  width: 600px;
  display: inline-block;
}

h2{
  font-size: 3em;
  padding: 5px;

}

p{
  padding: 1em;
} 

@media (min-width: 0px) and (max-width: 900px) {
  .logo{
    height: 1em;
    display: block;
  }
  
  #heading{
    margin-bottom: 5em;
  }

  .logo{
    height: 4em;
    width: 4.5em;
    border-radius: 50%;
    margin-right: 2em;
    object-fit: cover;
    object-position: top;
  }

  h1 {
    display: inline;
    font-size: 1em;
  }
  img.tile-image{
    float: none;
    height: 250px;
  }
  .left-card{
    width: 20em;
    display: inline-block;
    margin-right: 70px;
  }
  .right-card{
    width: 20em;
    display: inline-block;
  }
}


footer {
  text-align: right;
  color: midnightblue;
}

